# Include additional files in the package distribution
include README.md
include LICENSE
include pyproject.toml
include poetry.lock

# Include documentation and data files
recursive-include turtle *.ttl
recursive-include src *.py
recursive-include src *.log

# Exclude unnecessary files
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.orig
global-exclude *.rej
global-exclude *~
global-exclude .git*
global-exclude __pycache__
global-exclude .DS_Store
global-exclude .coverage
global-exclude .pytest_cache